In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import duckduckgo_search
from duckduckgo_search import DDGS
import regex as re
from datasets import load_dataset
import transformers
from transformers import pipeline

c:\ProgramData\Anaconda3\envs\pdi\Lib\site-packages\tqdm\auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

In [2]:
df = pd.read_pickle("nq_open_sample.pkl")

In [3]:
df

,question,answer
0,when did the first episode of breaking bad air,"[January 20, 2008]"
1,how many house of cards seasons are there,[5]
2,which festival is a worship of the god of powe...,[Karam]
3,when was the first land before time made,[1988]
4,the chihuahua is a breed of dog believed to or...,[Mexico]
...,...,...
295,how many satellites launched by isro in one ro...,[104]
296,when is america's got talent live 2017,"[August 15, 2017]"
297,gmt is named after a place in which country,[the United Kingdom]
298,how fast is the cheetah at wild adventures,[52 miles per hour]
299,which republican senate seats are up in 2018,"[Utah, Nevada, Wyoming, Nebraska, Mississippi,..."

In [4]:
def search_google(query):

    #content = ""
    content = []
    results = DDGS().text(query, max_results=10)

    for text in results : 
        #content+="\n"+text['body']
        sub_text = re.sub(r'([^\s\w]|_)+', '', text['body'])
        content.append(sub_text)

    return content

In [5]:
query = 'yahya krombi'
results = DDGS().text(query, max_results=5)

In [6]:
results

[{'title': 'Yahya Krombi - Strategic Data Scientist - BNP Paribas - LinkedIn',
  'href': 'https://fr.linkedin.com/in/yahya-krombi-919703215',
  'body': "Data scientist @BNPParibas · Expérience : BNP Paribas · Formation : Université de Technologie de Troyes · Lieu : Paris · 500 relations ou plus sur LinkedIn. Consultez le profil de Yahya Krombi sur LinkedIn, une communauté professionnelle d'un milliard de membres."},
 {'title': 'Yahya KROMBI | École Nationale Supérieure de Mécanique et des ...',
  'href': 'https://www.researchgate.net/profile/Yahya-Krombi',
  'body': 'Yahya KROMBI of École Nationale Supérieure de Mécanique et des Microtechniques, Besançon (ENSMM) | Contact Yahya KROMBI'},
 {'title': 'Yahya Krombi - Facebook',
  'href': 'https://www.facebook.com/yahya.krombi/',
  'body': 'Yahya Krombi is on Facebook. Join Facebook to connect with Yahya Krombi and others you may know. Facebook gives people the power to share and makes the world more open and connected.'},
 {'title': 'yahya krombi - YouTube',
  'href': 'https://www.youtube.com/channel/UCNgMAhIuajj-bD6FEQ6vubw',
  'body': 'Share your videos with friends, family, and the world'},
 {'title': 'Yahya Krombi Profiles - Facebook',
  'href': 'https://www.facebook.com/public/Yahya-Krombi/',
  'body': 'View the profiles of people named Yahya Krombi. Join Facebook to connect with Yahya Krombi and others you may know. Facebook gives people the power to...'}]

In [27]:
content = search_google("what is the capital of France ?")
print(content)

['Paris French pronunciation ⓘ is the capital and largest city of FranceWith an estimated population of 2102650 residents in January 2023 2 in an area of more than 105 km 2 41 sq mi 5 Paris is the fourthmost populous city in the European Union the ninthmost populous city in Europe and the 30th most densely populated city in the world in 2022 6', 'Paris city and capital of France located along the Seine River in the northcentral part of the country Paris is one of the worlds most important and attractive cities famed for its gastronomy haute couture painting literature and intellectual community Learn more about Paris in this article', 'As the capital city of France the city plays host to the national government of France Even the official residence of the president is in the city at the Élysée Palace while the Prime Minister is housed at the Hôtel Matignon The Senate or the upper house meets at the Palais du Luxembourg while the Palais Bourbon is the meeting point for ', 'Paris nicknamed the City of light is the capital city of France and the largest city in FranceThe area is 105 square kilometres 41 square miles and around 215 million people live there If suburbs are counted the population of the Paris area rises to 107 million people It is the most densely populated city in the European Union with 20653 people per square kilometer', 'France a country of northwestern Europe is historically and culturally among the most important countries in the Western world It has also played a highly significant role in international affairs for centuries Its capital is Paris one of the most important cultural and commercial centers in the world', 'This is a chronological list of capitals of France The capital of France has been Paris since its liberation in 1944 1 Chronology Tournai before 486 currentday Belgium Soissons 486936 Laon 936987 Paris 9871419 the residence of the Kings of France although they were consecrated at Reims', 'Paris the capital of France is located in the northcentral portion of the country It constitutes one of the départements of the ÎledeFrance administrative region and is Frances most important centre of commerce and culture The city is home to the Eiffel Tower one of the worlds premier tourist attractions which opened to the public on May 15 1889', 'For the current capital see Paris The capital of France is Paris 1 In the course of history the national capital has been in many locations other than Paris History List of capitals of France Tournai before 486 Soissons 486ca 900 Paris 9001419 The residence of ', 'Paris is the capital of France Also known as the City of Light is not only the capital but also the most populous city of France Paris is renowned globally for its art fashion gastronomy and culture Paris the capital city of France Paris has been an important hub of commerce finance science music and philosophy', 'Paris the city and capital of France is located in the northcentral part of the countryHuman habitation in this area dates back to around 7600 BCE situated along the Seine River approximately 233 miles 375 km upstream from where the river meets the English Channel La Manche']

In [28]:
content

['Paris French pronunciation ⓘ is the capital and largest city of FranceWith an estimated population of 2102650 residents in January 2023 2 in an area of more than 105 km 2 41 sq mi 5 Paris is the fourthmost populous city in the European Union the ninthmost populous city in Europe and the 30th most densely populated city in the world in 2022 6',
 'Paris city and capital of France located along the Seine River in the northcentral part of the country Paris is one of the worlds most important and attractive cities famed for its gastronomy haute couture painting literature and intellectual community Learn more about Paris in this article',
 'As the capital city of France the city plays host to the national government of France Even the official residence of the president is in the city at the Élysée Palace while the Prime Minister is housed at the Hôtel Matignon The Senate or the upper house meets at the Palais du Luxembourg while the Palais Bourbon is the meeting point for ',
 'Paris nicknamed the City of light is the capital city of France and the largest city in FranceThe area is 105 square kilometres 41 square miles and around 215 million people live there If suburbs are counted the population of the Paris area rises to 107 million people It is the most densely populated city in the European Union with 20653 people per square kilometer',
 'France a country of northwestern Europe is historically and culturally among the most important countries in the Western world It has also played a highly significant role in international affairs for centuries Its capital is Paris one of the most important cultural and commercial centers in the world',
 'This is a chronological list of capitals of France The capital of France has been Paris since its liberation in 1944 1 Chronology Tournai before 486 currentday Belgium Soissons 486936 Laon 936987 Paris 9871419 the residence of the Kings of France although they were consecrated at Reims',
 'Paris the capital of France is located in the northcentral portion of the country It constitutes one of the départements of the ÎledeFrance administrative region and is Frances most important centre of commerce and culture The city is home to the Eiffel Tower one of the worlds premier tourist attractions which opened to the public on May 15 1889',
 'For the current capital see Paris The capital of France is Paris 1 In the course of history the national capital has been in many locations other than Paris History List of capitals of France Tournai before 486 Soissons 486ca 900 Paris 9001419 The residence of ',
 'Paris is the capital of France Also known as the City of Light is not only the capital but also the most populous city of France Paris is renowned globally for its art fashion gastronomy and culture Paris the capital city of France Paris has been an important hub of commerce finance science music and philosophy',
 'Paris the city and capital of France is located in the northcentral part of the countryHuman habitation in this area dates back to around 7600 BCE situated along the Seine River approximately 233 miles 375 km upstream from where the river meets the English Channel La Manche']

## model exploration

In [10]:
qa_model = pipeline("question-answering", "timpal0l/mdeberta-v3-base-squad2")

WARNING:tensorflow:From c:\ProgramData\Anaconda3\envs\pdi\Lib\site-packages\tf_keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

Device set to use cpu

In [11]:
df.question.iloc[0]

'when did the first episode of breaking bad air'

In [12]:
question = "Where do I live?"
context = "My name is Tim and I live in Sweden."
qa_model(question = question, context = context)

{'score': 0.9755479693412781, 'start': 28, 'end': 36, 'answer': ' Sweden.'}

In [17]:
## Parallelization
question = "Where do I live?"
contexts = [
    "My name is Tim and I live in Sweden.",
    "My name is Anna and I live in Norway.",
    "My name is John and I live in Finland.",
    "My name is Jane and I live in Denmark."
]

# Create a batch of inputs
batch = [{"question": question, "context": context} for context in contexts]

# Use the model to process the batch
results = qa_model(batch)

c:\ProgramData\Anaconda3\envs\pdi\Lib\site-packages\transformers\pipelines\question_answering.py:391: FutureWarning: Passing a list of SQuAD examples to the pipeline is deprecated and will be removed in v5. Inputs should be passed using the `question` and `context` keyword arguments instead.
  warnings.warn(

In [109]:
i = 270
df.question.iloc[i],  df.answer.iloc[i]

('who appoints elects the speaker of the loksabha',
 ['Members of the Lok Sabha'])

In [110]:
df.answer.iloc[i]

['Members of the Lok Sabha']

In [111]:
## Parallelization
question = df.question.iloc[i]
contexts = search_google(question)

# Create a batch of inputs
batch = [{"question": question, "context": context} for context in contexts]

# Use the model to process the batch
results = qa_model(batch)

In [117]:
results

[{'score': 0.15459221601486206,
  'start': 205,
  'end': 264,
  'answer': ' first meeting of the Lok Sabha following general elections'},
 {'score': 0.3910368084907532, 'start': 36, 'end': 40, 'answer': ' BJP'},
 {'score': 0.23888108134269714,
  'start': 42,
  'end': 67,
  'answer': ' members of the Lok Sabha'},
 {'score': 0.48815831542015076,
  'start': 151,
  'end': 170,
  'answer': ' President of India'},
 {'score': 0.17409957945346832,
  'start': 32,
  'end': 99,
  'answer': ' from among the members of the lower house of the Indian Parliament'}]

In [125]:
for dic in results : 
        print(dic.keys())
        dic

dict_keys(['score', 'start', 'end', 'answer'])
dict_keys(['score', 'start', 'end', 'answer'])
dict_keys(['score', 'start', 'end', 'answer'])
dict_keys(['score', 'start', 'end', 'answer'])
dict_keys(['score', 'start', 'end', 'answer'])

In [33]:
def results_parser(output):

    formated_output = []

    for dic in output : 
        formated_output.append(dic['answer'].lstrip())
    
    return formated_output

In [34]:
def QA_answer(query,best_score=False):

    ## Parallelization
    contexts = search_google(query)
    # Create a batch of inputs
    batch = [{"question": query, "context": context} for context in contexts]

    # Use the model to process the batch
    results = qa_model(batch)
    output = results_parser(results)
    if best_score : 
        return pd.DataFrame(results).sort_values(by='score',ascending=False).answer.iloc[0].lstrip()

    return output

In [44]:
QA_answer('where do mohamed lamsaoub work ?')

c:\ProgramData\Anaconda3\envs\pdi\Lib\site-packages\transformers\pipelines\question_answering.py:391: FutureWarning: Passing a list of SQuAD examples to the pipeline is deprecated and will be removed in v5. Inputs should be passed using the `question` and `context` keyword arguments instead.
  warnings.warn(

'LinkedIn'

In [45]:
df_eval = df.iloc[:15]

In [47]:
df_eval

,question,answer
0,when did the first episode of breaking bad air,"[January 20, 2008]"
1,how many house of cards seasons are there,[5]
2,which festival is a worship of the god of powe...,[Karam]
3,when was the first land before time made,[1988]
4,the chihuahua is a breed of dog believed to or...,[Mexico]
5,actor who plays steve on days of our lives,[Stephen Nichols]
6,who reformed the athenian constitution into a ...,[Solon]
7,what is the name of the european weather model,[Integrated Forecast System]
8,where does the money from pch come from,[multi-magazine subscription business]
9,who plays chloe valentine in be more chill,[Katlyn Carlson]
10,who was the viceroy of india when delhi became...,[Lord Irwin]
11,which german state benefited most from the ter...,[German Kingdoms of Hanover]
12,who sings the song everybody walk the dinosaur,[Was (Not Was)]
13,who is the composer of eine kleine nachtmusik,[Wolfgang Amadeus Mozart]
14,who are the candidates running for president i...,"[Jaime Rodríguez Calderón, Andrés Manuel López..."

In [48]:
df_eval['QA_answers'] = df_eval.question.apply(lambda x : QA_answer(x,True))

c:\ProgramData\Anaconda3\envs\pdi\Lib\site-packages\transformers\pipelines\question_answering.py:391: FutureWarning: Passing a list of SQuAD examples to the pipeline is deprecated and will be removed in v5. Inputs should be passed using the `question` and `context` keyword arguments instead.
  warnings.warn(
C:\Users\moham\AppData\Local\Temp\ipykernel_3156\48095065.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eval['QA_answers'] = df_eval.question.apply(lambda x : QA_answer(x,True))

In [49]:
df_eval

,question,answer,QA_answers
0,when did the first episode of breaking bad air,"[January 20, 2008]",January 20 2008
1,how many house of cards seasons are there,[5],6
2,which festival is a worship of the god of powe...,[Karam],Karam Devta
3,when was the first land before time made,[1988],1988
4,the chihuahua is a breed of dog believed to or...,[Mexico],Mexico
5,actor who plays steve on days of our lives,[Stephen Nichols],Stephen Nichols
6,who reformed the athenian constitution into a ...,[Solon],Cleisthenes
7,what is the name of the european weather model,[Integrated Forecast System],ECMWF
8,where does the money from pch come from,[multi-magazine subscription business],PCH merchandise and magazines
9,who plays chloe valentine in be more chill,[Katlyn Carlson],Katlyn
10,who was the viceroy of india when delhi became...,[Lord Irwin],Lord Irwin
11,which german state benefited most from the ter...,[German Kingdoms of Hanover],Austria and Prussia
12,who sings the song everybody walk the dinosaur,[Was (Not Was)],Was Not Was
13,who is the composer of eine kleine nachtmusik,[Wolfgang Amadeus Mozart],Wolfgang Amadeus Mozart
14,who are the candidates running for president i...,"[Jaime Rodríguez Calderón, Andrés Manuel López...",Claudia Sheinbaum

In [13]:
def clean(text):

    return [txt.replace(',','').replace('(','').replace(')','').lstrip() for txt in text]



df_eval['answer_cleaned'] = df_eval.answer.apply(lambda x : clean(x))

C:\Users\moham\AppData\Local\Temp\ipykernel_26664\2132691413.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eval['answer_cleaned'] = df_eval.answer.apply(lambda x : clean(x))

In [14]:
df_eval['score'] = df_eval.apply(lambda row : row['QA_answers'] in row['answer_cleaned'] , axis='columns')

C:\Users\moham\AppData\Local\Temp\ipykernel_26664\2328089850.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eval['score'] = df_eval.apply(lambda row : row['QA_answers'] in row['answer_cleaned'] , axis='columns')

In [15]:
df_eval

,question,answer,QA_answers,answer_cleaned,score
0,when did the first episode of breaking bad air,"[January 20, 2008]",January 20 2008,[January 20 2008],True
1,how many house of cards seasons are there,[5],6,[5],False
2,which festival is a worship of the god of powe...,[Karam],Karam Devta,[Karam],False
3,when was the first land before time made,[1988],1988,[1988],True
4,the chihuahua is a breed of dog believed to or...,[Mexico],Mexico,[Mexico],True
5,actor who plays steve on days of our lives,[Stephen Nichols],Steve Johnson,[Stephen Nichols],False
6,who reformed the athenian constitution into a ...,[Solon],Cleisthenes,[Solon],False
7,what is the name of the european weather model,[Integrated Forecast System],European Center for Medium Range Weather Forec...,[Integrated Forecast System],False
8,where does the money from pch come from,[multi-magazine subscription business],PCH merchandise and magazines,[multi-magazine subscription business],False
9,who plays chloe valentine in be more chill,[Katlyn Carlson],Katlyn,[Katlyn Carlson],False
10,who was the viceroy of india when delhi became...,[Lord Irwin],Lord Irwin,[Lord Irwin],True
11,which german state benefited most from the ter...,[German Kingdoms of Hanover],Austria and Prussia,[German Kingdoms of Hanover],False
12,who sings the song everybody walk the dinosaur,[Was (Not Was)],Was Not Was,[Was Not Was],True
13,who is the composer of eine kleine nachtmusik,[Wolfgang Amadeus Mozart],Wolfgang Amadeus Mozart,[Wolfgang Amadeus Mozart],True
14,who are the candidates running for president i...,"[Jaime Rodríguez Calderón, Andrés Manuel López...",Claudia Sheinbaum,"[Jaime Rodríguez Calderón, Andrés Manuel López...",False

In [16]:
df_eval.score.sum()/len(df_eval)

0.4

In [222]:
from difflib import SequenceMatcher

In [223]:
df_eval['answer_cleaned_text'] = df_eval.answer_cleaned.apply(lambda x : ' '.join(x).lstrip())

C:\Users\moham\AppData\Local\Temp\ipykernel_27524\2450165486.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eval['answer_cleaned_text'] = df_eval.answer_cleaned.apply(lambda x : ' '.join(x).lstrip())

In [227]:
def calculate_similarity(word1, word2):
    """
    Calculate the similarity rate between two words based on SequenceMatcher.
    
    Args:
        word1 (str): The first word.
        word2 (str): The second word.
    
    Returns:
        float: Similarity rate between 0.0 (no similarity) and 1.0 (exact match).
    """
    return SequenceMatcher(None, word1, word2).ratio()

In [228]:
from difflib import SequenceMatcher


df_eval['levenshtein_score'] = df_eval.apply(lambda row : calculate_similarity(row.QA_answers,row.answer_cleaned_text) , axis = 'columns')

C:\Users\moham\AppData\Local\Temp\ipykernel_27524\3848946917.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_eval['levenshtein_score'] = df_eval.apply(lambda row : calculate_similarity(row.QA_answers,row.answer_cleaned_text) , axis = 'columns')

In [234]:
df_eval

,question,answer,QA_answers,answer_cleaned,score,answer_cleaned_text,levenshtein_score
0,when did the first episode of breaking bad air,"[January 20, 2008]",January 20 2008,[January 20 2008],True,January 20 2008,1.000000
1,how many house of cards seasons are there,[5],House of Cards season 6,[5],False,5,0.000000
2,which festival is a worship of the god of powe...,[Karam],Karam Devta,[Karam],False,Karam,0.625000
3,when was the first land before time made,[1988],1988,[1988],True,1988,1.000000
4,the chihuahua is a breed of dog believed to or...,[Mexico],Mexico,[Mexico],True,Mexico,1.000000
5,actor who plays steve on days of our lives,[Stephen Nichols],Steve Patch Johnson,[Stephen Nichols],False,Stephen Nichols,0.529412
6,who reformed the athenian constitution into a ...,[Solon],Cleisthenes,[Solon],False,Solon,0.250000
7,what is the name of the european weather model,[Integrated Forecast System],European Center for Medium Range Weather Forec...,[Integrated Forecast System],False,Integrated Forecast System,0.421053
8,where does the money from pch come from,[multi-magazine subscription business],PCH merchandise and magazines,[multi-magazine subscription business],False,multi-magazine subscription business,0.338462
9,who plays chloe valentine in be more chill,[Katlyn Carlson],Katlyn Carlson,[Katlyn Carlson],True,Katlyn Carlson,1.000000
10,who was the viceroy of india when delhi became...,[Lord Irwin],Lord Irwin,[Lord Irwin],True,Lord Irwin,1.000000
11,which german state benefited most from the ter...,[German Kingdoms of Hanover],Germany,[German Kingdoms of Hanover],False,German Kingdoms of Hanover,0.363636
12,who sings the song everybody walk the dinosaur,[Was (Not Was)],Was Not Was,[Was Not Was],True,Was Not Was,1.000000
13,who is the composer of eine kleine nachtmusik,[Wolfgang Amadeus Mozart],Wolfgang Amadeus Mozart,[Wolfgang Amadeus Mozart],True,Wolfgang Amadeus Mozart,1.000000
14,who are the candidates running for president i...,"[Jaime Rodríguez Calderón, Andrés Manuel López...",Claudia Sheinbaum,"[Jaime Rodríguez Calderón, Andrés Manuel López...",False,Jaime Rodríguez Calderón Andrés Manuel López O...,0.201681